<!doctype html>
<html ng-app="weather">
<head>
	
	<!-- import angular lib as well as the app -->
	<script src="assets/angular.min.js"></script>
	<script src="app.js"></script>
</head> 


<body ng-controller="WeatherController">

<h1>Real Weather for San Francisco:</h1>
<h1>{{currWeather}}<h1>
<h1 ng-if="weatherdiff > 0">That's {{weatherdiff}} degrees warmer from yesterday</h1>
<h1 ng-if="weatherdiff < 0">That's {{weatherdiff}} degrees colder from yesterday</h1>
<h1 ng-if="weatherdiff == 0">That's the same temperature as yesterday</h1>





</body>

</html>
